{% extends 'base.twig' %}
{% block title %}League{% endblock %}
{% block content %}
<div class="container">
	<h2>League</h2>
	<p><strong class="orange-text">You don't have a league!</strong></p>
	<p>You can join one at your <a href="dashboard.php">Dashboard</a>, or you can make your own private league here.</p>
	<p>Once you create a league, you will be given a code. Players can join your league only if you share with them your league's secret code!</p>
	<br>
	<div class="row">
		<div class="col-xs-12 col-sm-9 col-md-6 col-lg-4">
			<form method="post" name="createLeagueForm">
				<h3>Create Private League</h3>
				<div class="form-group">
					<label for="league-name">League Name</label>
					<input type="text" name="leagueName" id="league-name" class="form-control">
					<p><small>1-30 characters; numbers, letters, and spaces only</small></p>
				</div>
				<button type="submit" name="createLeague" class="btn">Create League</button>
			</form>
		</div>
	</div>
	<br>
	<p><strong class="orange-text">{{ message }}</strong></p>
</div>
{% endblock %}