	{% extends 'base.twig' %}
	{% block title %}Home{% endblock %}
	{% block content %}
		<div class="container-fluid cover-image">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-lg-8 cover-content">
						<h2 class="cover-text">Join a League, Draft Your Very Own Fantasy Big Brother Team, and Earn Points!</h2>
						<button class="btn-lg" href="#">Get Started</button>
					</div>
					<div class="col-lg-4 hidden-md hidden-sm hidden-xs house-column">
						<img src="images/house.png" alt="house image" class="house">
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-4 col-lg-4">
					<div class="large-icon">
						<i class="fa fa-reddit" aria-hidden="true"></i>
					</div>
					<div class="column-description">
						<h2>Register</h2>
						<p>Connect BBDraft to your Reddit or Google account to sign up. You will then be prompted to join or create a league.</p>
					</div>
				</div>
				<div class="col-sm-12 col-md-4 col-lg-4">
					<div class="large-icon">
						<i class="icon-barchartasc"></i>
					</div>
					<div class="column-description">
						<h2>Earn Points</h2>
						<p>Once you’ve joined a league, you can draft a team of houseguests to earn you points. Every action in the house has a point value. You can see the point values on the About page.</p>
					</div>
				</div>
				<div class="col-sm-12 col-md-4 col-lg-4">
					<div class="large-icon">
						<i class="icon-trophy"></i>
					</div>
					<div class="column-description">
						<h2>Be Victorious</h2>
						<p>After each episode watch your point values add up. At the end of the season, the team in each league with the most points wins!</p>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
	