{% extends 'base.twig' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="container">
<h2>Dashboard</h2>
<p><strong class="orange-text">You need to join a league!</strong></p><br>
<div class="row">
	<div class="col-sm-12 col-md-6">
		<form method="post" name="publicLeagueForm">
			<h3>Public League</h3>
				<div class="form-group">
				<select name="publicLeague" class="form-control">
					<option value="public1">Public League 1</option>
					<option value="reddit">Reddit League</option>
				</select>
			</div>
			<button type="submit" name="publicSubmit" class="btn">Join Public League</button>
		</form>
	</div>
	<div class="col-sm-12 col-md-6">
		<form method="post" name="privateLeagueForm">
			<h3>Private League</h3>
			<div class="form-group row">
				<div class="col-sm-3">
					<label for="private-code">League Code</label>
				</div>
				<div class="col-sm-9">
					<input type="text" id="private-code" name="leagueCode" class="form-control">
				</div>
			</div>
			<button type="submit" name="privateSubmit" class="btn">Join Private League</button>
		</form>
	</div>
</div>

</div>
{% endblock %}