{% extends 'base.twig' %}
{% block title %}Welcome{% endblock %}
{% block content %}
<div class="container">
<h2>Welcome to BBDraft!</h2>
<p>We're glad you joined us for the first season of BBDraft! Please report any bugs as an issue on our <a href="http://gitlab.com/laken/bbdraft"><i class="icon-gitlab"></i>GitLab</a></p>
<p>Get involved in the BBDraft community by joining our subreddit! Check us out at <a href="http://reddit.com/r/bbdraft" target="_blank">/r/bbdraft</a>!</p><br>
<h4>What's next?</h4>
<ol>
	<li>Join a League</li>
	<ul>
		<li>You can join one of our official public leagues, or create your own private league.</li>
		<li>You can do this at your <a href="dashboard.php">Dashboard</a></li>
	</ul>
	<li>Draft a Team</li>
	<ul>
		<li>Once you're in a league, you can draft a team. You do this by picking the 3 houseguests you think will do the best. Every measurable action in the house has a point value, you can read those on the About page.</li>
	</ul>
	<li>Invite friends!</li>
		<ul>
			<li>BBDraft is more fun with friends in your league, so tell all your friends!</li>
			<li>Even though BBDraft leagues don't have prizes, nothing is stopping you from making a prize pool with your friends!</li>
		</ul>
</ol>
</div>
{% endblock %}